table {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    border: 1px solid grey;
    /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
    width: 500px;
    height: 500px;
 }
 caption {
 
    text-align: left;
    padding: 10px 0;
    font-size: 14px;
 }
 td {
    border: 1px dotted black;
    background-repeat: no-repeat;

 }

td input {
   display: block;
   width: 100%;
   height: 100%;
   opacity: 0;
   cursor: pointer;
}
 td.water{
    background-image: url("./images/water.png");
 }
 td.miss{
    background-image: url("./images/miss.png");
 }
 td.hit{
    background-image: url("./images/hit.png");
 }
 td.kill{
    background-image: url("./images/kill.png");
 }